.icon-container{
    height: 50%;
    margin-top: 15%;
}
.icon{
    width: 40%;
}
.passage1-container{
    margin-top: 15%;
}
.passage1{
    width: 30%;
}
.passage1-en{
    width: 40%;
}
