.heading{
    width: 15%;
}
.heading-en{
    width:40%   
}
.passage2-container{
    height: 50%;
}
.passage2{
    width: 70%;
}
.passage2-en{
    width: 70%;
}
.btn-next{
    width: 40%;
}