.passage1{
    width: 20%;
}
.passage1-en{
    width: 30%;
}
.passage2{
    width: 65%;
}
.passage2-en{
    width: 75%;
}
.passage3{
    width: 65%;
}
.passage3-en{
    width: 75%;
}
.btn-share{
    width: 40%;
}
.btn-explore{
    width: 40%;
}
